<div class="title">
  <h2>{{label.title}}</h2>
  {{label.textTitle}}
  <button class='btn btnAddUser'>
    <img src="../../../assets/addcolor.svg" class="imgBtn">
    <div class="textBtn">{{label.addUser}}</div>
  </button>
  <button class='btn btnPreview'>
    <img src="../../../assets/eyecolor.svg" class="imgBtn">
    <div class="textBtn">{{label.preview}}</div>
  </button>
</div>
<div class="content">
  <div class="filter">
    <input placeholder="{{label.search}} |" class="required">
    <select id="pages">
      <option value="8">{{label.option1}}</option>
      <option value="12">{{label.option2}}</option>
      <option value="16">{{label.option3}}</option>
      <option value="20">{{label.option4}}</option>
    </select>
    <select id="order">
      <option value="asc">{{label.asc}}</option>
      <option value="desc">{{label.desc}}</option>
    </select>
    <select id="all">
      <option value="all">{{label.all}}</option>
      <option value="nothing">{{label.middle}}</option>
    </select> 
    <div class="btns">   
      <button class='btnView'>
        <img (click)='viewUsers("list")' #listBtn src="../../../assets/listcolor.svg">
      </button>
      <button class='btnView'>
        <img (click)='viewUsers("square")' #squareBtn src="../../../assets/square.svg">
      </button>
    </div>
  </div>
  <div class="list_users" *ngIf="typeView==='list'">
    <table>
      <tr>
        <th></th>
        <th>{{label.photo}}</th>
        <th>{{label.name}}</th>
        <th>{{label.fathersLastName}}</th>
        <th>{{label.mothersLastName}}</th>
        <th>{{label.email}}</th>
        <th>{{label.roleId}}</th>
        <th>{{label.active}}</th>
        <th></th>
      </tr>
      <tr *ngFor="let user of users.users; let indexPosition = index">
        <td *ngIf="user">
          <img src="../../../assets/points.svg">
        </td>
        <td *ngIf="user">
          <div class="circletag">
            <img src="{{user.picture}}" class="userImg">
          </div>
        </td>
        <td *ngIf="user">{{user.name}}</td>
        <td *ngIf="user">{{user.fathersLastName}}</td>
        <td *ngIf="user">{{user.mothersLastName}}</td>
        <td *ngIf="user">{{(user.email.length>25)? (user.email | slice:0:25)+'..':(user.email)}}</td>
        <td *ngIf="user">{{user.roleId}}</td>
        <td *ngIf="user">
          <img class="btnActive" (click)="changeStatus(indexPosition)" [ngClass]="{buttonInactive:!user.active}" src="{{user.imgActive}}">
        </td>
        <td *ngIf="user">  
          <div>
            <button class='btnAction'>
              <img src="../../../assets/web.svg">
            </button>
            <button class='btnAction'>
              <img (click)="deleteItem(indexPosition)" src="../../../assets/trash.svg">
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="square_users" *ngIf="typeView==='square'">
    <div *ngFor="let user of users.users; let indexPosition = index" class="squareFor">
      <div class="square" *ngIf="user">
        <div class="pointsSquare">
          <img src="../../../assets/points.svg">
        </div>
        <div class="circleSquare">
          <img src="{{user.picture}}" class="userImg">
        </div>
        <span id='username'>{{user.name}}</span>
          {{(user.email.length>25)? (user.email | slice:0:25)+'..':(user.email)}}<br>
          {{user.roleId}}
        <hr>
        <div class="footerSquare">
          <div class="blockActive">
            <img class="btnActive" (click)="changeStatus(indexPosition)" [ngClass]="{buttonInactive:!user.active}" src="{{user.imgActive}}">
          </div>
          <div class="blockAction">
            <button class='btnAction'>
              <img src="../../../assets/web.svg">
            </button>
            <button class='btnAction'>
              <img (click)="deleteItem(indexPosition)" src="../../../assets/trash.svg">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
